<header>
    <!-- sale -->
    <div class="py-3 bg-primary-0 text-white">
        <div class="app-container">
            <div class="flex gap-3 items-center justify-center">
                <p class="text-lg uppercase font-medium">
                    up to 50% off
                </p>

                <!-- countdown -->
                <div class="flex justify-center gap-2">
                    <div class="border-[0.25px] px-3 py-1 rounded flex flex-col">
                        <span class="text-center -mb-1 text-lg font-medium -pb-3"> 593</span>

                        Days
                    </div>

                    <div class="border-[0.25px] px-3 py-1 rounded flex flex-col">
                        <span class="text-center -mb-1 text-lg font-medium -pb-3"> 18</span>

                        Hrs
                    </div>

                    <div class="border-[0.25px] px-3 py-1 rounded flex flex-col">
                        <span class="text-center -mb-1 text-lg font-medium -pb-3"> 50</span>

                        Min
                    </div>

                    <div class="border-[0.25px] px-3 py-1 rounded flex flex-col">
                        <span class="text-center -mb-1 text-lg font-medium -pb-3"> 5</span>

                        Sec
                    </div>
                </div>
                <!-- countdown -->

                <button class="btn bg-white text-black pl-4">Shop Now <mat-icon
                        class="text-base">arrow_forward</mat-icon></button>
            </div>
        </div>
    </div>
    <!-- sale -->

    <!-- search -->
    <div class="py-6">
        <div class="app-container">
            <div class="flex justify-between items-center">
                <!-- logo -->
                <img src="https://isotech-demo.myshopify.com/cdn/shop/files/Logo_160x.png?v=1696421616" alt="">
                <!-- logo -->

                <div class="flex border border-gray-200 w-8/12 md:w-5/12">
                    <div class="w-[180px] flex items-center justify-between p-4">
                        <p>All Tags</p>
                        <mat-icon>keyboard_arrow_down</mat-icon>
                    </div>
                    <div class="flex-1">
                        <input class="border-l p-4 w-full" type="text" placeholder="Search our store">
                    </div>
                    <div class="p-4 aspect-square text-white bg-primary-0 center-xy"><mat-icon>search</mat-icon></div>

                </div>

                <!-- icon -->
                <div class="flex justify-center items-center gap-3">
                    <div class="relative">
                        <mat-icon class="custom-icon-size">person_outline</mat-icon>
                    </div>

                    <div class="relative">
                        <mat-icon class="custom-icon-size">favorite_outline</mat-icon>
                        <span
                            class="absolute -top-1 -right-2 size-5 center-xy rounded-full bg-primary-0 text-white text-[12px] ">
                            2</span>
                    </div>

                    <div class="relative">
                        <mat-icon class="custom-icon-size">shopping_cart</mat-icon>
                        <span
                            class="absolute -top-1 -right-2 size-5 center-xy rounded-full bg-primary-0 text-white text-[12px] ">
                            4</span>
                    </div>
                </div>
                <!-- icon -->

            </div>

        </div>
    </div>
    <!-- search -->

    <!-- navbar -->
    <nav class="app-container">
        <div class="flex justify-between py-5 border-y border-gray-200">
            <!-- left -->
            <div class="flex">

                <div class="flex items-center gap-2 pr-[80px] border-r border-gray-200">
                    <mat-icon>menu</mat-icon>
                    <p>All Categories</p>
                </div>

                <div class="pl-5 flex items-center gap-7">
                    <div class="flex gap-1 text-lg">Home <mat-icon>keyboard_arrow_down</mat-icon></div>
                    <div class="flex gap-1 text-lg">Shop <mat-icon>keyboard_arrow_down</mat-icon></div>
                    <div class="flex gap-1 text-lg">Categories <mat-icon>keyboard_arrow_down</mat-icon></div>
                    <div class="flex gap-1 text-lg">Product <mat-icon>keyboard_arrow_down</mat-icon></div>
                    <div class="flex gap-1 text-lg">Blog </div>
                </div>

            </div>
            <!-- left -->

            <!-- right -->
            <div class="flex gap-2">
                <mat-icon>bolt_outline</mat-icon>
                <p class="">UP TO 60% off All Items</p>
            </div>
            <!-- right -->
        </div>
    </nav>
    <!-- navbar -->

</header>