<section>
    <div class="py-[70px] w-fit mx-auto">
        <h1 class="font-medium text-[40px] text-center">
            Contact
        </h1>
        <div class="w-fit mx-auto font-thin flex gap-2 mt-4">
            <a href="#">Home</a> / <a href="#">Contact</a>
        </div>
    </div>
</section>

<section class="bg-background-0 py-[90px]">
    <h2 class="font-medium text-[32px] text-center">
        Get in touch
    </h2>
    <div class="pt-[50px] app-container">
        <div class="grid grid-cols-12 gap-7">
            <div class="col-span-8">
                <div class="bg-white p-[50px] rounded-xl shadow-lg">
                    <div class="grid grid-cols-2 gap-3">
                        <div class="flex flex-col gap-1">
                            <label for="name">Name <sup>*</sup></label>
                            <input type="text" id="name" class="input-2">
                        </div>

                        <div class="flex flex-col gap-1">
                            <label for="emai">Email <sup>*</sup></label>
                            <input type="email" id="emai" class="input-2">
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="flex flex-col gap-1">
                            <label for="phone">Phone number <sup>*</sup></label>
                            <input type="tel" id="phone" class="input-2">
                        </div>
                    </div>

                    <div class="pt-5">
                        <div class="flex flex-col gap-1">
                            <label for="comment">Comment <sup>*</sup></label>
                            <textarea name="comment" id="comment" rows="5" class="input-2"></textarea>
                        </div>
                    </div>

                    <div class="pt-[80px]">
                        <button class="btn p-4 px-14 bg-primary-0 rounded-xl text-white">
                            Send
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-span-4">
                <div class="p-[50px]">
                    <div>
                        <p class="text-xl font-medium">Phone</p>
                        <div class="pt-5 flex gap-4">
                            <mat-icon>phone</mat-icon>
                            <div class="">
                                <p class="">
                                    0919 616 224
                                </p>
                                <p class="font-thin pt-2">
                                    0919 616 225
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="pt-4">
                        <p class="text-xl font-medium">Email</p>
                        <div class="pt-5 flex gap-4">
                            <mat-icon>mail</mat-icon>
                            <div class="">
                                <p class="">
                                    pythagore1102&#64;gmail.com
                                </p>
                                <p class="font-thin pt-2">
                                    quocbaoft.office&#64;gmail.com
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="pt-4">
                        <p class="text-xl font-medium">Address</p>
                        <div class="pt-5 flex gap-4">
                            <mat-icon>home</mat-icon>
                            <div class="">
                                <p class="font-thin pt-2">
                                    73B Lien Khu 10 11, Binh Tri Dong, Binh Tan district, HCM city
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-[90px] bg-background-0">
    <div class="app-container relative">
        <iframe class="w-full"
            src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d125413.95449821663!2d106.6893312!3d10.797056!3m2!1i1024!2i768!4f13.1!5e0!3m2!1svi!2s!4v1726498742270!5m2!1svi!2s"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>