<section class="bg-background-0 py-[90px] ">
    <div class="app-container">
        <h1 class="text-[40px] font-medium text-center">
            Collections
        </h1>
        <div class="pt-[50px] grid grid-cols-3 gap-5">
            <!-- card -->
            <div *ngFor="let item of [1,1,1,1,1,1]" class="shadow-lg rounded-xl overflow-hidden">
                <img class="w-full aspect-square object-cover "
                    src="https://isotech-demo.myshopify.com/cdn/shop/files/7_6812fb94-4241-4e4e-b064-2f18081875ca.png?v=1711883587"
                    alt="">

                <div class="py-3 px-5 flex justify-between items-center">
                    <h2 class="font-medium text-xl">Smart Watch v2</h2>
                    <p class="font-thin">
                        (8 items)
                    </p>
                </div>
            </div>
            <!-- card -->
        </div>
    </div>
</section>

<section class="bg-background-0 pt-[70px] pb-[90px]">
    <div class="app-container">
        <div class="grid grid-cols-4 gap-3">
            <div class="flex gap-3">
                <mat-icon class="">local_shipping</mat-icon>
                <div>
                    <h3 class="font-medium text-xl"> Free Shipping</h3>
                    <p class="mt-2 font-thin">
                        Free Shipping for order over $100
                    </p>
                </div>
            </div>
            <div class="flex gap-3">
                <mat-icon class="">keyboard_return</mat-icon>
                <div>
                    <h3 class="font-medium text-xl"> Free Returns</h3>
                    <p class="mt-2 font-thin">
                        Within 30 days for an Returns.
                    </p>
                </div>
            </div>

            <div class="flex gap-3">
                <mat-icon class="">local_shipping</mat-icon>
                <div>
                    <h3 class="font-medium text-xl"> Secure Payment</h3>
                    <p class="mt-2 font-thin">
                        Within 30 days for an exchange.
                    </p>
                </div>
            </div>

            <div class="flex gap-3">
                <mat-icon class="">forum</mat-icon>
                <div>
                    <h3 class="font-medium text-xl"> Online Support</h3>
                    <p class="mt-2 font-thin">
                        24 hours a day, 7 days a week
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>