<div class="bg-background-0 py-[100px]">
    <section class="app-container">
        <h1 class="text-[32px] font-medium text-center">Login</h1>
        <form class="pt-[40px] w-[470px] mx-auto">
            <div class="font-thin flex flex-col gap-3">
                <label for="first-name">First Name</label>
                <input type="text" class="input-2" id="first-name" placeholder="First name">
            </div>

            <div class="font-thin flex flex-col gap-3 pt-5">
                <label for="last-name">Last Name</label>
                <input type="text" class="input-2" id="last-name" placeholder="Last name">
            </div>

            <div class="font-thin flex flex-col gap-3 pt-5">
                <label for="email">Email</label>
                <input type="text" class="input-2" id="email" placeholder="Email">
            </div>

            <div class="font-thin flex flex-col gap-3 pt-5">
                <label for="password">Password</label>
                <input type="password" class="input-2" placeholder="Password" id="password">
            </div>

            <div class="pt-6 center-x">
                <button class="btn bg-primary-0 text-white px-7">Create</button>
            </div>
            <div class="pt-4">
                <a href="#" class="font-thin underline">Resturn to store</a>
            </div>

        </form>
    </section>
</div>