<div class="bg-background-0 pt-8 pb-8">
    <!-- product -->
    <div class="grid grid-cols-12 gap-4 app-container">

        <!-- image  -->
        <div class="col-span-7">
            <section class="w-full">
                <img class="w-full aspect-square object-contain"
                    src="https://isotech-demo.myshopify.com/cdn/shop/files/4_a03d9d15-3417-4f70-9638-3a680431f012.png?v=1711883363"
                    alt="">
                <div class="pt-4 w-full grid grid-cols-5 gap-3 pb-4">
                    <div *ngFor="let item of [1,1,1,1,1]" class="">
                        <img src="https://isotech-demo.myshopify.com/cdn/shop/files/4_a03d9d15-3417-4f70-9638-3a680431f012.png?v=1711883363"
                            alt="" class="aspect-square object-cover">
                    </div>
                </div>
            </section>
        </div>
        <!-- image  -->

        <!-- info -->
        <div class="col-span-5">
            <section class="pb-12">
                <h1 class="text-[40px] font-medium">Sport 3 Smart Watch</h1>

                <div class="pt-3">
                    <div class="flex items-center gap-2">
                        <div class="flex gap-1 text-yellow-400">
                            <mat-icon class="star-size">star</mat-icon>
                            <mat-icon class="star-size">star</mat-icon>
                            <mat-icon class="star-size">star</mat-icon>
                            <mat-icon class="star-size">star</mat-icon>
                            <mat-icon class="star-size">star</mat-icon>
                        </div>
                        <p class="text-gray-500">2 reviews</p>
                    </div>
                </div>

                <div class="pt-3">
                    <p class="text-[28px]">
                        $155.00
                    </p>
                </div>

                <div class="pt-4">
                    <p class="font-thin text-gray-500">
                        Only 31 items in stock!
                    </p>
                    <div class="mt-1 bg-white overflow-hidden  rounded-full">
                        <div class="w-7/12 bg-rose-600 h-full py-1"></div>
                    </div>
                </div>
                <div class="pt-3">
                    <p class="font-thin text-gray-500">
                        <span class="font-medium">Color:</span> Gold
                    </p>
                </div>

                <div class="pt-4">
                    <p class="font-medium text-gray-500">
                        Quantity
                    </p>
                    <div class="flex items-center gap-4">
                        <div class="grid grid-cols-3 w-[150px] rounded-full border-gray-300 border mt-2">
                            <div class="center-xy text-lg">
                                <mat-icon class="icon-size-1">remove</mat-icon>
                            </div>
                            <div class="col-span">
                                <input type="text" class="w-full h-full text-center bg-transparent py-3" value="1"
                                    min="1">
                            </div>
                            <div class="center-xy text-lg ">
                                <mat-icon class="icon-size-1">add</mat-icon>
                            </div>
                        </div>
                        <button class="btn px-6 border border-black hover:bg-black hover:text-white">Add to
                            cart</button>
                    </div>
                </div>

                <div class="pt-3">
                    <button class="btn w-full py-3 bg-primary-0 text-white hover:scale-[1.005] ">Buy it now</button>
                </div>

                <div class="pt-4 flex gap-1">
                    <div class="text-green-600">
                        <mat-icon class="icon-size-1 mt-2">check</mat-icon>
                    </div>
                    <div class="font-thin text-gray-500 leading-[2]">
                        <p class="">
                            Pickup available at <span class="font-normal">France Warehouse</span>
                        </p>
                        <p class="text-sm">
                            Usually ready in 24 hours
                        </p>
                        <a href="#">
                            <p class="underline">
                                Check avaliable at other stores
                            </p>
                        </a>
                    </div>
                </div>

                <!-- action -->
                <div class="pt-5 flex gap-4 text-gray-500">
                    <div class="center-y gap-2">
                        <mat-icon>favorite</mat-icon>
                        Add to wishlist
                    </div>
                    <div class="center-y gap-2">
                        <mat-icon>compare_arrows</mat-icon>
                        Remove from compare
                    </div>
                </div>
                <!-- action -->

                <!-- social -->
                <div class="pt-8 flex items-center gap-3 text-gray-700">
                    <div class="flex gap-1 ">
                        <mat-icon>facebook</mat-icon>
                        <a href="#">
                            <p class="underline">
                                Facebook
                            </p>
                        </a>
                    </div>

                    <div class="flex gap-1 ">
                        <mat-icon>facebook</mat-icon>
                        <a href="#">
                            <p class="underline">
                                Facebook
                            </p>
                        </a>
                    </div>
                    <div class="flex gap-1 ">
                        <mat-icon>facebook</mat-icon>
                        <a href="#">
                            <p class="underline">
                                Facebook
                            </p>
                        </a>
                    </div>
                </div>
                <!-- social -->
            </section>

            <hr class="border-gray-300 ">

            <section class="pt-6">
                <div class="flex justify-between items-center w-full">
                    <div class="center-y gap-2">
                        <mat-icon>sell</mat-icon>
                        <h2 class="font-medium text-xl">
                            Pairs well with
                        </h2>
                    </div>
                    <mat-icon class="text-gray-500">keyboard_arrow_up</mat-icon>
                </div>

                <div class="pt-5 flex flex-col">
                    <!-- item -->
                    <div class="py-3 flex gap-3 border-b border-gray-300">
                        <img src="https://cdn.shopify.com/s/files/1/0829/4619/5736/files/1200_1200-26_7e2bbd25-5b88-4481-bf6b-94f0f07babcd_360x.png?v=1695533286"
                            alt="" class="aspect-square size-[80px] object-cover">
                        <div class="flex-1">
                            <h3 class="font-medium">
                                Omage Seamaster Watch
                            </h3>
                            <div class="flex justify-between items-center">
                                <p class="font-thin text-gray-500">
                                    $90.00
                                </p>
                                <button class="btn border border-gray-300 text-gray-500 font-thin text-sm">
                                    Quick shop
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- item -->

                    <!-- item -->
                    <div class="py-3 flex gap-3 border-b border-gray-300">
                        <img src="https://cdn.shopify.com/s/files/1/0829/4619/5736/files/1200_1200-26_7e2bbd25-5b88-4481-bf6b-94f0f07babcd_360x.png?v=1695533286"
                            alt="" class="aspect-square size-[80px] object-cover">
                        <div class="flex-1">
                            <h3 class="font-medium">
                                Omage Seamaster Watch
                            </h3>
                            <div class="flex justify-between items-center">
                                <p class="font-thin text-gray-500">
                                    $90.00
                                </p>
                                <button class="btn border border-gray-300 text-gray-500 font-thin text-sm">
                                    Quick shop
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- item -->

                    <!-- item -->
                    <div class="py-3 flex gap-3 border-b border-gray-300">
                        <img src="https://cdn.shopify.com/s/files/1/0829/4619/5736/files/1200_1200-26_7e2bbd25-5b88-4481-bf6b-94f0f07babcd_360x.png?v=1695533286"
                            alt="" class="aspect-square size-[80px] object-cover">
                        <div class="flex-1">
                            <h3 class="font-medium">
                                Omage Seamaster Watch
                            </h3>
                            <div class="flex justify-between items-center">
                                <p class="font-thin text-gray-500">
                                    $90.00
                                </p>
                                <button class="btn border border-gray-300 text-gray-500 font-thin text-sm">
                                    Quick shop
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- item -->
                </div>

                <div class="pt-4">
                    <div class="flex items-center gap-2 text-gray-700">
                        <mat-icon>help</mat-icon>
                        <p>Ask About This product</p>
                    </div>
                </div>
            </section>
        </div>
        <!-- info -->
    </div>
    <!-- product -->

    <!-- relative -->
    <section class="app-container pt-10">
        <h2 class="heading-1 text-center">
            You may also like
        </h2>
        <div class="pt-5 grid grid-cols-5 gap-5">
            <div *ngFor="let item of [1,2,3,4,4]" class="bg-white rounded-lg overflow-hidden group">

                <!-- image -->
                <div class="p-3 relative overflow-hidden group/image">
                    <img class="group-hover/image:scale-110 transition-all"
                        src="https://isotech-demo.myshopify.com/cdn/shop/files/1200_1200-4_a69c5411-0b06-4e13-9be5-7c3af242ba1f_360x.png?v=1695528909"
                        alt="">
                    <div
                        class="absolute left-0 bottom-0 flex items-center justify-center w-full py-2 bg-primary-0 text-white font-medium text-center text-lg opacity-0 group-hover:opacity-100 translate-y-[100%] group-hover:opacity-1 group-hover:translate-y-0 transition-all  duration-500">
                        <p class="w-fit center-y gap-1">
                            <mat-icon>shopping_cart</mat-icon> Quick shop
                        </p>
                    </div>
                    <div class="absolute top-3 right-0 flex flex-col gap-4 pr-3">
                        <div
                            class="size-9 rounded bg-white text-gray-500 center-xy shadow-lg hover:bg-gray-100 translate-y-[100%] group-hover:translate-y-0 opacity-0 group-hover:opacity-100 transition-all  duration-500">
                            <mat-icon>favorite</mat-icon>
                        </div>

                        <div
                            class="size-9 rounded bg-white text-gray-500 center-xy shadow-lg hover:bg-gray-100 translate-y-[100%] group-hover:translate-y-0 opacity-0 group-hover:opacity-100 transition-all  duration-500">
                            <mat-icon>compare_arrows</mat-icon>
                        </div>

                        <div
                            class="size-9 rounded bg-white text-gray-500 center-xy shadow-lg hover:bg-gray-100 translate-y-[100%] group-hover:translate-y-0 opacity-0 group-hover:opacity-100 transition-all  duration-500">
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                </div>
                <!-- image -->

                <div class="pt-4 px-3 pb-6">
                    <h3 class="font-medium">iPad 10t Generation</h3>
                    <p class="pt-2 font-medium">$230.00</p>

                </div>
            </div>
        </div>
    </section>
    <!-- relative -->




</div>

<!-- product review -->
<section class="pt-[70px] pb-[80px] app-container">
    <div class="flex gap-8">
        <h2 class="text-2xl font-medium pb-2 border-b text-gray-700 border-gray-500">
            Description
        </h2>
        <h2 class="text-2xl font-medium pb-2">
            Product Reviews
        </h2>
        <h2 class="text-2xl font-medium pb-2">
            Privacy policy
        </h2>
    </div>

    <!-- content -->

    <!-- description -->
    <div class="pt-9">
        <p class="body-1">
            The Sport 3 Smart Watch is a cutting-edge wearable device designed to enhance your fitness and lifestyle
            experience. Packed with advanced features and sleek design, it's the perfect companion for your active
            lifestyle. Here's a comprehensive description:
        </p>
        <p class="body-1">
            <strong class="font-medium">1. Sleek Design</strong>: The Sport 3 Smart Watch boasts a sleek and modern
            design, perfect for both
            casual and
            fitness wear. Its lightweight construction ensures comfort during extended wear, while the durable materials
            ensure longevity.
        </p>
        <p class="body-1">
            <strong class="font-medium">2. Advanced Fitness Tracking</strong>: Equipped with
            state-of-the-art sensors, the Sport 3 Smart Watch accurately tracks your fitness activities in
            real-time. Whether you're running, cycling, swimming, or hitting the gym, it monitors your heart rate,
            steps, distance, calories burned, and more, providing valuable insights into your workout performance.

        </p>
        <p class="body-1">
            <strong class="font-medium">3. Sports Modes</strong>: With a wide range of
            pre-installed sports modes, including running, cycling, swimming, yoga, and more, this smartwatch caters
            to all your fitness needs. Each mode is optimized to provide specific metrics and feedback tailored to
            your chosen activity.
        </p>
        <p class="body-1"><strong class="font-medium">5. GPS Connectivity</strong>: Never get lost during
            your outdoor adventures with built-in GPS connectivity. Whether you're exploring new trails or
            navigating through the city, this feature ensures accurate route tracking and mapping directly from your
            wrist.</p>
        <p class="body-1"><strong class="font-medium">6. Smart Notifications</strong>: Stay connected
            without constantly checking your phone. The Sport 3 Smart Watch keeps you informed with smart
            notifications for calls, messages, emails, and app alerts, allowing you to stay connected while on the
            move.</p>
        <p class="body-1"><strong class="font-medium">7. Long Battery Life</strong>: Say goodbye to
            frequent charging with the Sport 3 Smart Watch's long-lasting battery life. Whether you're on a day-long
            hike or traveling for business, you can rely on its extended battery life to keep up with your
            activities.</p>
        <p class="body-1"><strong class="font-medium">8. Water Resistance</strong>: Designed to withstand
            the elements, the Sport 3 Smart Watch is water-resistant, making it suitable for swimming and water
            sports. You can confidently wear it in the pool or during intense workouts without worrying about water
            damage.</p>
        <p class="body-1"><strong class="font-medium">9. Compatibility</strong>: The Sport 3 Smart Watch
            seamlessly integrates with your smartphone, whether you're using iOS or Android. Simply sync it with the
            companion app to access detailed activity reports, set goals, and customize your watch settings.</p>
    </div>
    <!-- description -->

    <!-- content -->
</section>
<!-- product review -->

<!-- recently -->
<div class="bg-background-0 pb-[90px] pt-[100px]">
    <section class="app-container">
        <h2 class="heading-1 text-center">
            Recently viewed product
        </h2>
        <div class="pt-5 grid grid-cols-5 gap-5">
            <div *ngFor="let item of [1,2,3,4,4]" class="bg-white rounded-lg overflow-hidden group">

                <!-- image -->
                <div class="p-3 relative overflow-hidden group/image">
                    <img class="group-hover/image:scale-110 transition-all"
                        src="https://isotech-demo.myshopify.com/cdn/shop/files/1200_1200-4_a69c5411-0b06-4e13-9be5-7c3af242ba1f_360x.png?v=1695528909"
                        alt="">
                    <div
                        class="absolute left-0 bottom-0 flex items-center justify-center w-full py-2 bg-primary-0 text-white font-medium text-center text-lg opacity-0 group-hover:opacity-100 translate-y-[100%] group-hover:opacity-1 group-hover:translate-y-0 transition-all  duration-500">
                        <p class="w-fit center-y gap-1">
                            <mat-icon>shopping_cart</mat-icon> Quick shop
                        </p>
                    </div>
                    <div class="absolute top-3 right-0 flex flex-col gap-4 pr-3">
                        <div
                            class="size-9 rounded bg-white text-gray-500 center-xy shadow-lg hover:bg-gray-100 translate-y-[100%] group-hover:translate-y-0 opacity-0 group-hover:opacity-100 transition-all  duration-500">
                            <mat-icon>favorite</mat-icon>
                        </div>

                        <div
                            class="size-9 rounded bg-white text-gray-500 center-xy shadow-lg hover:bg-gray-100 translate-y-[100%] group-hover:translate-y-0 opacity-0 group-hover:opacity-100 transition-all  duration-500">
                            <mat-icon>compare_arrows</mat-icon>
                        </div>

                        <div
                            class="size-9 rounded bg-white text-gray-500 center-xy shadow-lg hover:bg-gray-100 translate-y-[100%] group-hover:translate-y-0 opacity-0 group-hover:opacity-100 transition-all  duration-500">
                            <mat-icon>visibility</mat-icon>
                        </div>
                    </div>
                </div>
                <!-- image -->

                <div class="pt-4 px-3 pb-6">
                    <h3 class="font-medium">iPad 10t Generation</h3>
                    <p class="pt-2 font-medium">$230.00</p>

                </div>
            </div>
        </div>
    </section>
</div>

<!-- recently -->