<div class="bg-background-0 py-[100px]">
    <section class="app-container">
        <h1 class="text-[32px] font-medium text-center">Login</h1>
        <form class="pt-[40px] w-[470px] mx-auto">
            <div class="font-thin flex flex-col gap-3">
                <label for="email">Email</label>
                <input type="text" class="input-2" id="email" placeholder="Email">
            </div>

            <div class="font-thin flex flex-col gap-3 pt-5">
                <label for="password">Password</label>
                <input type="password" class="input-2" placeholder="Password" id="password">
            </div>
            <div class="pt-5">
                <a href="#" class="font-thin underline">Forgot your password?</a>
            </div>
            <div class="pt-3 center-x">
                <button class="btn bg-primary-0 text-white px-7">Sign in</button>
            </div>
            <div class="pt-4">
                <a href="#" class="font-thin underline">New customer? Sign up for an account</a>
            </div>
        </form>
    </section>
</div>