<section>
    <div class="py-[70px] w-fit mx-auto">
        <h1 class="font-medium text-[40px] text-center">
            404
        </h1>
        <div class="w-fit mx-auto font-thin flex gap-2 mt-4">
            <a href="#">Home</a> / <a href="#">404</a>
        </div>
    </div>
</section>

<div class="bg-background-0 pt-[80px] pb-[50px]">
    <div class="app-container">
        <img src="https://static-00.iconduck.com/assets.00/404-page-not-found-illustration-2048x998-yjzeuy4v.png"
            class="w-full" alt="">
    </div>
</div>